<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add  name="DefaultDb"
      connectionString="Data Source=10.201.76.120;Initial Catalog=usecar;Persist Security Info=True;User ID=sa; PassWord=pass@word1"
      providerName="sqlserver"/>

  </connectionStrings>
</configuration>